## **Source Data**

In [1]:
from twse import TWSE_URL

TWSE_URL.demo.daily_trading
TWSE_URL.demo.daily_quotes
TWSE_URL.main_path

'https://www.twse.com.tw/'

## **Import TWSE**

In [2]:
from twse import TWSE
TWSE.cat

{'抓取每日收盤行情(全部)': 'crawler_all()', '抓取個股當月收盤行情': 'crawler_stocks()'}

In [3]:
from twse import TWSE

period = ('2021-08-12', '2021-08-14')

### **抓取$\color{#BA2121}{每日}$收盤行情**

#### **STEP 1 設定相關資訊**
```python
period = ('2021-08-12', '2021-08-14')

daily_quotes = TWSE(period = period)

daily_quotes = TWSE(period = period, 
                    daily_quotes_num = [9] # 指定回傳特定資料表, list
                   )
```
#### **STEP 2 開始抓取資料**
```python
dict_dfs = daily_quotes.crawler_all()
```

In [4]:
daily_quotes = TWSE(period = period)
dict_dfs = daily_quotes.crawler_all()

#### **STEP 3 回傳資料型態**
```python
type(dict_dfs)
>>> dict

dict_dfs.keys()
>>> dict_keys(['2021-08-12', '2021-08-13'])

'''
2021-08-14為假日，自動跳過。
'''

for key in dict_dfs['2021-08-12']:
    print(key)

>>> 1 # 110年08月12日 價格指數(臺灣證券交易所)
>>> 2 # 價格指數(跨市場)
>>> 3 # 價格指數(臺灣指數公司)
>>> 4 # 報酬指數(臺灣證券交易所)
>>> 5 # 報酬指數(跨市場)
>>> 6 # 報酬指數(臺灣指數公司)
>>> 7 # 110年08月12日 大盤統計資訊
>>> 8 # 漲跌證券數合計
>>> 9 # 110年08月12日每日收盤行情(全部)
```

```markdown
dict_dfs
   |
   |__ 2021-08-12
   |  |__110年08月12日 價格指數(臺灣證券交易所)
   |  |__價格指數(跨市場)
   |  |__價格指數(臺灣指數公司)
   |  |__報酬指數(臺灣證券交易所)
   |  |__報酬指數(跨市場)
   |  |__報酬指數(臺灣指數公司)
   |  |__110年08月12日 大盤統計資訊
   |  |__漲跌證券數合計
   |  |__110年08月12日每日收盤行情(全部)
   |
   |__2021-08-13
      |__110年08月13日 價格指數(臺灣證券交易所)
      |__價格指數(跨市場)
      |__價格指數(臺灣指數公司)
      |__報酬指數(臺灣證券交易所)
      |__報酬指數(跨市場)
      |__報酬指數(臺灣指數公司)
      |__110年08月13日 大盤統計資訊
      |__漲跌證券數合計
      |__110年08月13日每日收盤行情(全部)
```

In [20]:
dict_dfs['2021-08-12'][1].head(3)

KeyError: '2021-08-12'

In [6]:
daily_quotes = TWSE(period = period, daily_quotes_num = [9])

In [7]:
dict_dfs = daily_quotes.crawler_all()

In [8]:
dict_dfs['2021-08-13'][9].head(3)

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,日期
0,50.0,元大台灣50,7816273.0,16810.0,1.061673e+09,136.6,136.85,135.55,135.65,-,1.30,135.65,3.0,135.7,52.0,0.0,2021-08-13
1,51.0,元大中型100,94265.0,113.0,5.338646e+06,57.25,57.25,56.35,56.35,-,0.85,56.35,36.0,56.65,10.0,0.0,2021-08-13
2,52.0,富邦科技,771387.0,527.0,9.470217e+07,124.05,124.05,122.5,122.55,-,1.50,122.5,24.0,122.7,10.0,0.0,2021-08-13

### **抓取個股當月收盤行情**

#### **STEP 1 設定相關資訊**

```python
stock_codes = ['2330','1234', '2357', '2317']
period = ('2021-01-1', '2021-04-1')

'''Period Fomat

   (%Y-%m-%1) 每個月的1號開始及結束，避免重複抓取

'''

```

In [9]:
from twse import TWSE

stock_codes = ['2330', '1234']
period = ('2021-04-1', '2021-08-1')

#### **STEP 2 開始抓取資料**

1. **方法 1 全部回傳**

```python
twse = TWSE(period = period, stock_codes = stock_codes)
dict_dfs = twse.crawler_stocks()
dict_dfs[stock_codes[0]]
```


2. **方法 2 批次回傳**

```python
for stock_code in stock_codes:
    twse = TWSE(period = period, stock_codes = [stock_code])
    df = twse.crawler_stocks()
    
df[stock_code]
```

In [10]:
twse = TWSE(period = period, stock_codes = stock_codes)

In [11]:
dict_dfs = twse.crawler_stocks()

2330
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00
1234
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00

#### **STEP 3 回傳資料型態**

```python
type(dict_dfs)
>>> dict

dict_dfs.keys()
>>> dict_keys(['2330', '1234'])
```

In [12]:
dict_dfs.keys()

dict_keys(['2330', '1234'])

|    | 日期                |    成交股數 |    成交金額 |   開盤價 |   最高價 |   最低價 |   收盤價 |   漲跌價差 |   成交筆數 |   股票代碼 |
|---:|:--------------------|------------:|------------:|---------:|---------:|---------:|---------:|-----------:|-----------:|-----------:|
|  0 | 2021-01-04 00:00:00 | 3.949e+07   | 2.11276e+10 |      530 |      540 |      528 |      536 |          6 |      33316 |       2330 |
|  1 | 2021-01-05 00:00:00 | 3.48394e+07 | 1.87618e+10 |      536 |      542 |      535 |      542 |          6 |      28512 |       2330 |
|  2 | 2021-01-06 00:00:00 | 5.56144e+07 | 3.05728e+10 |      555 |      555 |      541 |      549 |          7 |      55462 |       2330 |

In [13]:
dict_dfs['2330'].head(3)

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,股票代碼
0,2021-04-01,45972766.0,2.752074e+10,598.0,602.0,594.0,602.0,15.0,48170.0,2330
1,2021-04-06,37664216.0,2.304513e+10,615.0,616.0,608.0,610.0,8.0,42422.0,2330
2,2021-04-07,28140964.0,1.717595e+10,614.0,614.0,608.0,610.0,0.0,28395.0,2330

## **SQLite**

### **Table Structure**
```python
def create_table():
    tb = '''
            股票代碼 int,
            日期 date, 
            成交股數 float, 
            成交金額 float, 
            開盤價 float, 
            最高價 float, 
            最低價 float, 
            收盤價 float, 
            漲跌價差 float, 
            成交筆數 float    
    '''
    return tb
```

In [14]:
def create_table():
    tb = '''
            股票代碼 varchar,
            日期 date, 
            成交股數 float, 
            成交金額 float, 
            開盤價 float, 
            最高價 float, 
            最低價 float, 
            收盤價 float, 
            漲跌價差 float, 
            成交筆數 float    
    '''
    return tb

### **DB connection**

In [15]:
import sqlite3

conn = sqlite3.connect('TWSE.db')
c = conn.cursor() 
try:
    c.execute(f'''CREATE TABLE TWSE({create_table()})''')
except:
    pass

In [16]:
from twse import TWSE

period = ('2021-03-1', '2021-08-1')

#### **存入多筆資料**

In [17]:
stock_codes = ['2330','1234', '2357', '2317']

for stock_code in stock_codes:
    twse = TWSE(period = period, stock_codes = [stock_code])
    df = twse.crawler_stocks()
    df[stock_code].to_sql('TWSE', conn, if_exists='append', index = False)
conn.close()

2330
2021-03-01 00:00:00
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00
1234
2021-03-01 00:00:00
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00
2357
2021-03-01 00:00:00
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00
2317
2021-03-01 00:00:00
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00

In [18]:
import sqlite3 as sql
import pandas as pd
con = sql.connect("TWSE.db")
df = pd.read_sql(f"select 股票代碼, 開盤價, 最低價, 最高價, 收盤價, 日期 from TWSE where 股票代碼 = '2330' and 日期 between '2021-08-01' and '2021-08-17'", con)

In [19]:
df

    股票代碼    開盤價    最低價    最高價    收盤價          日期
0   2330  583.0  580.0  590.0  590.0  2021-08-02
1   2330  594.0  590.0  594.0  594.0  2021-08-03
2   2330  598.0  594.0  598.0  596.0  2021-08-04
3   2330  598.0  593.0  598.0  596.0  2021-08-05
4   2330  596.0  588.0  596.0  591.0  2021-08-06
5   2330  590.0  583.0  595.0  595.0  2021-08-09
6   2330  596.0  589.0  596.0  591.0  2021-08-10
7   2330  590.0  585.0  590.0  590.0  2021-08-11
8   2330  586.0  584.0  588.0  586.0  2021-08-12
9   2330  585.0  579.0  585.0  581.0  2021-08-13
10  2330  582.0  578.0  586.0  584.0  2021-08-16
11  2330  580.0  578.0  582.0  580.0  2021-08-17

In [21]:
conn.close