# **發行量加權股價指數**

In [2]:
from sqlalchemy import create_engine
import MySQLdb

user = 'root'
pw = "hsiangjenli"
db = 'TWSE'
table = '發行量加權股價指數'

createTable = '''
    `日期` date NOT NULL,
    `成交股數` bigint(20) NOT NULL,
    `成交金額` bigint(20) NOT NULL,
    `成交筆數` bigint(20) NOT NULL,
    `發行量加權股價指數` DECIMAL(7, 2) NOT NULL,
    `漲跌點數` float NOT NULL
    '''

In [3]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user=user,pw=pw,db=db))
conn=MySQLdb.connect(host="127.0.0.1",user=user, passwd=pw,charset='utf8')
cursor=conn.cursor()
cursor.execute(f'USE {db}')
try:
    cursor.execute(f'''CREATE TABLE `{table}` ({createTable})''')
except:
    pass

OperationalError: (2002, "Can't connect to MySQL server on '127.0.0.1' (10061)")

In [16]:
#cursor.execute(f'''DROP TABLE `{table}`''')

0

In [19]:
from TWSE.transformDate import TDate
from TWSE.sqlHelper import sqlHelper as sHelper
from TWSE.twserevise import TWSE

import numpy as np
from tqdm.notebook import tqdm
import datetime

sh = sHelper(user=user, pw=pw, db=db, table=table)
now = TDate.date.toStringwithDash(datetime.datetime.now())
rDate = sh.getResult(rType='string')
#period = ('1990-01-04', now)
#period = (rDate, now)
period = ('2004-02-11', now)
twse = TWSE(period=period)

for df in tqdm(twse.crawlerTaiwanWeightedIndex()):
    if sh.inSql(df):
        if sh.LocList(df) != None:
            df = df.loc[sh.LocList(df)]
        else:
            break
    df.to_sql(table, con = engine, if_exists = 'append', index=False)

0it [00:00, ?it/s]

In [6]:
conn=MySQLdb.connect(host="127.0.0.1",user=user, passwd=pw, db=db, charset='utf8')
cursor=conn.cursor()

myQuery = '''

SELECT TW.`日期`, TW.`發行量加權股價指數`, TW.`成交金額`, TW.`成交股數`, TW.`成交筆數`, TW.`漲跌點數`
FROM `發行量加權股價指數` AS TW


'''

#WHERE TW.`日期` BETWEEN '2011/1/1 00:00:00' AND '2021/09/30 23:59:59'
cursor.execute(myQuery)
r = cursor.fetchall()

In [7]:
import pandas as pd
df = pd.DataFrame(r)
df.columns = ['日期', '發行量加權股價指數','成交金額', '成交股數', '成交筆數', '漲跌點數']
df = df.set_index('日期')

In [8]:
df.to_csv('TWWI-2011to2021.csv', encoding='utf-8')